/*^ =================> General <=================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --main-color: #009247;
}

.text-main{
  color: var(--main-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

p{
  margin: 0;
}

.w-fit{
  width: fit-content;
}
/*^ =================> End General <=================== */


/*? ========================> AuthLayout <======================== */

.auth-layout{
  background-image: linear-gradient(rgba(47, 140, 96, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/Images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Inter", sans-serif;
}

.auth-layout img{
  width: 60%;
}

.auth-layout .btn-register,.btn-forget{
  text-decoration: none;
}
.auth-layout .btn-register:hover,.btn-forget:hover{
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
  .auth-layout .form-control{
    padding: .75rem .75rem;
    border-radius: .625rem;
  }
  
  .auth-layout .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: .625rem;
    --bs-btn-border-radius: .625rem;
  }
}

/*? =========================> End AuthLayout <========================== */



/*& =========================> Start SideBar <========================== */

.sidebar-container .ps-sidebar-container{
  color: white;
  background-color: #1F263E;
  background-image: linear-gradient(rgba(31, 38, 62, 0.5), rgba(0, 0, 0, 0.5)),url(./assets/Images/w2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  border-top-right-radius: 50px;
  & .ps-menu-button{
    transition: all 0.15s;
  }
  & .ps-menu-button:hover{
    background-color: #00924D1A;
  }
  /* & .menu-img{
    max-width: 450%; 
    transition: max-width 0.15s ease; 
  }
  & .menu-img.collapsed {
    max-width: 100px;
  } */
}


/*& =========================> End SideBar <========================== */



/** =========================> End SideBar <========================== */

.header-container {
  background: url(./assets/Images/header-bg-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  /* border-radius: 500px; */
}
.header-container .header-img {
  width: 70%;
  
}
.bg-main{
  background-color: #009247;

}

.w-p{
  width: 60%;
}

/** =========================> End SideBar <========================== */


/** =========================>  <========================== */

.menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

/* .menu-container:hover .menu {
  display: block;
} */

.menu-button {
  display: flex;
  background: none;
  border: none;
  padding: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #ddd;
}

.menu-button i {
  margin-right: 8px;
}
/** =========================>  <========================== */
